body {
    font-family: 'Poppins', sans-serif;
}

#sidebar-wrapper {
    width: 260px;
    min-height: 100vh;
    background-color: #212529;
}

.sidebar-logo {
    max-width: 100%;
    height: auto;
}

.sidebar-title {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.3;
}

.nav-link {
    font-size: 1.5rem;
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem 1.2rem;
    border-radius: 12px;
    transition: 0.3s;
}

.nav-link i {
    font-size: 2.2rem;
    margin-right: 1rem;
}

.nav-link:hover,
.nav-link.active {
    background-color: #15803d;
    color: #ffffff !important;
}
